*.backup
*.py[oc]
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.jsonl

# Visual Studio Code Stuff
.vscode
.devcontainer
.file-ops

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.idea
raw-data
sample*.py
tmp
/static/
output
logs/
venv/
env/
.ssh/
mc.settings.json
opening.sql
ssh
pgdata
redisdata
shared_dirs
localtime
minzoom.sql
.coverage
s3static
vandelay-py.js
htmlcov

.python-version
.env
.env.artifactory
.vault_pass.txt
sitemap/
shared_dir/

*.iml

