<nav class="navbar navbar-expand-lg navbar-dark glass-container" style='z-index: 999'>
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}"><i class='fad fa-user-cog'></i> Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class='fad fa-envelope-square'></i> Contact us</a>
                </li>
            </ul>
            <div class="dropdown">
                <a class="dropdown-toggle text-white text-decoration-none" href="#" id="navbarDropdown" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    {% if request.user.is_authenticated %}
                        {{ request.user.username }}
                    {% else %}
                        Welcome
                    {% endif %}
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDropdown"
                    style='z-index: 9999;'>
                    {% if request.user.is_authenticated %}
                        <li><a class="dropdown-item" href="#"><i class='fad fa-id-card me-2'></i> Profile</a></li>
                        <li><a class="dropdown-item" href="#"><i class='fad fa-shipping-fast me-1'></i> Orders</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-danger" href="{% url 'users:logout' %}"><i
                                class='fad fa-sign-out-alt me-2'></i>Logout</a></li>
                    {% else %}
                        <li><a class="dropdown-item" href="{% url 'users:login' %}"><i
                                class='fad fa-id-card me-2'></i>Login</a></li>
                        <li><a class="dropdown-item" href="{% url 'users:register' %}"><i
                                class='fad fa-id-card me-2'></i>Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>